In [7]:
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
train_DataFrame = pd.read_csv(filepath_or_buffer="Data/Titanic/train.csv", 
                    names=["PassengerId", "Survived", "Pclass", "Name", "Sex", "Age", 
                    "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"], skiprows=1)
test_DataFrame = pd.read_csv(filepath_or_buffer="Data/Titanic/test.csv", 
                    names=["PassengerId", "Pclass", "Name", "Sex", "Age", 
                    "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"], skiprows=1)
test_AnswerDataFrame = pd.read_csv(filepath_or_buffer="Data/Titanic/gender_submission.csv",
                    names=["PassengerId", "Survived"], skiprows=1)

print(train_DataFrame)
print(test_DataFrame)
print(test_AnswerDataFrame)

     PassengerId  Survived  Pclass  \
0    PassengerId  Survived  Pclass
1              1         0       3
2              2         1       1
3              3         1       3
4              4         1       1
..           ...       ...     ...
887          887         0       2
888          888         1       1
889          889         0       3
890          890         1       1
891          891         0       3

                                                  Name     Sex  Age  SibSp  \
0                                                 Name     Sex  Age  SibSp
1                              Braund, Mr. Owen Harris    male   22      1
2    Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
3                               Heikkinen, Miss. Laina  female   26      0
4         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1
..                                                 ...     ...  ...    ...
887                              Montvila, Rev. Juozas    male   27      0
888                       Graham, Miss. Margaret Edith  female   19      0
889           Johnston, Miss. Catherine Helen "Carrie"  female  NaN      1
890                              Behr, Mr. Karl Howell    male   26      0
891                                Dooley, Mr. Patrick    male   32      0

     Parch            Ticket     Fare  Cabin  Embarked
0    Parch            Ticket     Fare  Cabin  Embarked
1        0         A/5 21171     7.25    NaN         S
2        0          PC 17599  71.2833    C85         C
3        0  STON/O2. 3101282    7.925    NaN         S
4        0            113803     53.1   C123         S
..     ...               ...      ...    ...       ...
887      0            211536       13    NaN         S
888      0            112053       30    B42         S
889      2        W./C. 6607    23.45    NaN         S
890      0            111369       30   C148         C
891      0            370376     7.75    NaN         Q

[892 rows x 12 columns]
     PassengerId Survived                            Pclass    Name   Sex  \
0    PassengerId   Pclass                              Name     Sex   Age
1            892        3                  Kelly, Mr. James    male  34.5
2            893        3  Wilkes, Mrs. James (Ellen Needs)  female    47
3            894        2         Myles, Mr. Thomas Francis    male    62
4            895        3                  Wirz, Mr. Albert    male    27
..           ...      ...                               ...     ...   ...
414         1305        3                Spector, Mr. Woolf    male   NaN
415         1306        1      Oliva y Ocana, Dona. Fermina  female    39
416         1307        3      Saether, Mr. Simon Sivertsen    male  38.5
417         1308        3               Ware, Mr. Frederick    male   NaN
418         1309        3          Peter, Master. Michael J    male   NaN

       Age  SibSp               Parch   Ticket   Fare     Cabin  Embarked
0    SibSp  Parch              Ticket     Fare  Cabin  Embarked       NaN
1        0      0              330911   7.8292    NaN         Q       NaN
2        1      0              363272        7    NaN         S       NaN
3        0      0              240276   9.6875    NaN         Q       NaN
4        0      0              315154   8.6625    NaN         S       NaN
..     ...    ...                 ...      ...    ...       ...       ...
414      0      0           A.5. 3236     8.05    NaN         S       NaN
415      0      0            PC 17758    108.9   C105         C       NaN
416      0      0  SOTON/O.Q. 3101262     7.25    NaN         S       NaN
417      0      0              359309     8.05    NaN         S       NaN
418      1      1                2668  22.3583    NaN         C       NaN

[419 rows x 12 columns]
     PassengerId  Survived
0    PassengerId  Survived
1            892         0
2            893         1
3            894         0
4            895         0
..           ...       ...
414         1305         0
415         1306         1
416         1307         0
417         1308         0
418         1309         0

[419 rows x 2 columns]

In [ ]:
def EncodeData(x: pandas.DataFrame) -> list:
    """
    对特征向量进行编码
    将pandas的DataFrame结构转换为list
    同时去除无关列
    @x: pandas.DataFrame
    @return: 特征向量
    """
    input_data = [[x["Pclass"][i], x["Sex"][i], x["Age"][i], x["SibSp"][i], x["Parch"][i], x["Fare"][i], x["Embarked"][i]] for i in range(len(x))]
    '''
    对字符串进行编码
    Sex: female->0, male->1
    Embarked: C->0, Q->1, S->2
    '''
    for i in range(len(input_data)):
        if input_data[i][1] == 'male':
            input_data[i][1] = 1
        else:
            input_data[i][1] = 0
        if input_data[i][6] == 'C':
            input_data[i][6] = 0
        elif input_data[i][6] == 'Q':
            input_data[i][6] = 1
        elif input_data[i][6] == 'S':
            input_data[i][6] = 2
        else:
            throw("Error: Embarked data error")

def EncodeTrainData(x: pandas.DataFrame) -> list, list:
    """
    对测试集进行编码处理
    将pandas的DataFrame结构转换为list
    同时去除无关列
    @x: pandas.DataFrame
    @return: 特征向量，标签向量
    """
    input_data = EncodeData(x)
    label = [x["Survived"][i] for i in range(len(x))]

    return input_data, label

In [ ]:
train_x, train_y = EncodeTrainData(train_DataFrame)