In [271]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.impute import KNNImputer

In [272]:
'''
可调参数
'''

# KNNImputer
n_neighbors = 5

# 数据预处理

In [273]:
train_DataFrame = pd.read_csv(filepath_or_buffer="Data/Titanic/train.csv", 
                    names=["PassengerId", "Survived", "Pclass", "Name", "Sex", "Age", 
                    "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"], skiprows=1)
test_DataFrame = pd.read_csv(filepath_or_buffer="Data/Titanic/test.csv", 
                    names=["PassengerId", "Pclass", "Name", "Sex", "Age", 
                    "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"], skiprows=1)
test_AnswerDataFrame = pd.read_csv(filepath_or_buffer="Data/Titanic/gender_submission.csv",
                    names=["PassengerId", "Survived"], skiprows=1)

print(train_DataFrame)
print(test_DataFrame)
print(test_AnswerDataFrame)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]
     PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]
     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [274]:
def EncodeData(x: pd.DataFrame) -> list:
    """
    对特征向量进行编码
    将pandas的DataFrame结构转换为list
    同时去除无关列
    :param x: pandas.DataFrame
    :return: 特征向量
    """
    input_data = [[x["Pclass"][i], x["Sex"][i], x["Age"][i], x["SibSp"][i], x["Parch"][i], x["Fare"][i], x["Embarked"][i]] for i in range(len(x))]
    
    return input_data

class PreEncodeData:
    def __init__(self, x: pd.DataFrame) -> pd.DataFrame:
        """
        对输入数据进行预编码
        :param x: pandas.DataFrame 类型数据，为读取的数据
        :return: pandas.DataFrame 编码后的数据
        """
        for i in range(len(x["Sex"])):
            if x["Sex"][i] == 'male':
                x.loc[i, "Sex"] = 1
            elif x["Sex"][i] == 'female':
                x.loc[i, "Sex"] = 0
        
        for i in range(len(x["Embarked"])):
            if x["Embarked"][i] == 'C':
                x.loc[i, "Embarked"] = 0
            elif x["Embarked"][i] == 'Q':
                x.loc[i, "Embarked"] = 1
            elif x["Embarked"][i] == 'S':
                x.loc[i, "Embarked"] = 2
        x = x.drop(columns=["Name", "Ticket", "Cabin"])
        self.MinMax = MinMaxScalerStrategy(x)

    
    def PreEncode(self, x: pd.DataFrame) -> pd.DataFrame:
        """
        对再次输入数据进行预编码
        如将测试集数据进行与训练集相同的编码方式

        :param x: pandas.DataFrame 类型数据，为读取的数据
        :return: pandas.DataFrame 编码后的数据
        """
        for i in range(len(x["Sex"])):
            if x["Sex"][i] == 'male':
                x.loc[i, "Sex"] = 1
            elif x["Sex"][i] == 'female':
                x.loc[i, "Sex"] = 0
        
        for i in range(len(x["Embarked"])):
            if x["Embarked"][i] == 'C':
                x.loc[i, "Embarked"] = 0
            elif x["Embarked"][i] == 'Q':
                x.loc[i, "Embarked"] = 1
            elif x["Embarked"][i] == 'S':
                x.loc[i, "Embarked"] = 2
        x = x.drop(columns=["Name", "Ticket", "Cabin"])
        x = self.MinMax.transform(x)
        return x

def EncodeTrainData(x: pd.DataFrame) -> tuple[list, list]:
    """
    对测试集进行编码处理
    将pandas的DataFrame结构转换为list
    同时去除无关列
    :param x: pandas.DataFrame
    :return: 特征向量，标签向量
    """
    input_data = EncodeData(x)
    label = [x["Survived"][i] for i in range(len(x))]

    return input_data, label

In [275]:
class MinMaxScalerStrategy:
    def __init__(self, data: pd.DataFrame):
        self.data = data
        self.min = {
            "Pclass": data["Pclass"].min(),
            "Sex": data["Sex"].min(),
            "Age": data["Age"].min(),
            "SibSp": data["SibSp"].min(),
            "Parch": data["Parch"].min(),
            "Fare": data["Fare"].min(),
            "Embarked": data["Embarked"].min()
        }
        self.max = {
            "Pclass": data["Pclass"].max(),
            "Sex": data["Sex"].max(),
            "Age": data["Age"].max(),
            "SibSp": data["SibSp"].max(),
            "Parch": data["Parch"].max(),
            "Fare": data["Fare"].max(),
            "Embarked": data["Embarked"].max()
        }
        def inner_transform(data: pd.DataFrame) -> pd.DataFrame:
            colunm_names = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]
            for name in colunm_names:
                for i in range(len(data[name])):
                    data.loc[i, name] = (data[name][i] - self.min[name]) / (self.max[name] - self.min[name])
            return data
        self.data = inner_transform(self.data)

    def transform(self, data: pd.DataFrame) -> pd.DataFrame:
        colunm_names = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked"]
        for name in colunm_names:
            for i in range(len(data[name])):
                data.loc[i, name] = (data[name][i] - self.min[name]) / (self.max[name] - self.min[name])
        return data

## 缺省值处理

In [276]:
imputer = KNNImputer(n_neighbors=n_neighbors, weights="distance", copy=False)

# 训练集编码
EncodeModel = PreEncodeData(train_DataFrame)

print("train_DataFrame:")
train_DataFrame = EncodeModel.PreEncode(train_DataFrame)
print(train_DataFrame)

# 测试集编码
print("test_DataFrame:")
test_DataFrame = EncodeModel.PreEncode(test_DataFrame)
print(test_DataFrame)

# 缺失值填充
print("train_DataFrame_filled:")
train_DataFrame_filled = pd.DataFrame(imputer.fit_transform(train_DataFrame), columns=train_DataFrame.columns)
print(train_DataFrame_filled)

print("test_DataFrame_filled:")
test_DataFrame_filled = pd.DataFrame(imputer.fit_transform(test_DataFrame), columns=test_DataFrame.columns)
print(test_DataFrame_filled)

/var/folders/f7/bxkzrv1163j5s267jpydb0_m0000gn/T/ipykernel_28508/61344741.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[i, name] = (data[name][i] - self.min[name]) / (self.max[name] - self.min[name])
/var/folders/f7/bxkzrv1163j5s267jpydb0_m0000gn/T/ipykernel_28508/61344741.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.125' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[i, name] = (data[name][i] - self.min[name]) / (self.max[name] - self.min[name])
/var/folders/f7/bxkzrv1163j5s267jpydb0_m0000gn/T/ipykernel_28508/61344741.py:26: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.16666666666666666' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[i, name] = (data[name][i] - self.min[name]) / (self.max[name] - self.min[name])

train_DataFrame:

/var/folders/f7/bxkzrv1163j5s267jpydb0_m0000gn/T/ipykernel_28508/61344741.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[i, name] = (data[name][i] - self.min[name]) / (self.max[name] - self.min[name])
/var/folders/f7/bxkzrv1163j5s267jpydb0_m0000gn/T/ipykernel_28508/61344741.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.125' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[i, name] = (data[name][i] - self.min[name]) / (self.max[name] - self.min[name])
/var/folders/f7/bxkzrv1163j5s267jpydb0_m0000gn/T/ipykernel_28508/61344741.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.16666666666666666' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[i, name] = (data[name][i] - self.min[name]) / (self.max[name] - self.min[name])

     PassengerId  Survived  Pclass  Sex       Age  SibSp     Parch      Fare  \
0              1         0     1.0  1.0  0.271174  0.125  0.000000  0.014151
1              2         1     0.0  0.0  0.472229  0.125  0.000000  0.139136
2              3         1     1.0  0.0  0.321438  0.000  0.000000  0.015469
3              4         1     0.0  0.0  0.434531  0.125  0.000000  0.103644
4              5         0     1.0  1.0  0.434531  0.000  0.000000  0.015713
..           ...       ...     ...  ...       ...    ...       ...       ...
886          887         0     0.5  1.0  0.334004  0.000  0.000000  0.025374
887          888         1     0.0  0.0  0.233476  0.000  0.000000  0.058556
888          889         0     1.0  0.0       NaN  0.125  0.333333  0.045771
889          890         1     0.0  1.0  0.321438  0.000  0.000000  0.058556
890          891         0     1.0  1.0  0.396833  0.000  0.000000  0.015127

    Embarked
0        1.0
1        0.0
2        1.0
3        1.0
4        1.0
..       ...
886      1.0
887      1.0
888      1.0
889      0.0
890      0.5

[891 rows x 9 columns]
test_DataFrame:
     PassengerId  Pclass  Sex       Age  SibSp     Parch      Fare Embarked
0            892     1.0  1.0  0.428248  0.000  0.000000  0.015282      0.5
1            893     1.0  0.0  0.585323  0.125  0.000000  0.013663      1.0
2            894     0.5  1.0  0.773813  0.000  0.000000  0.018909      0.5
3            895     1.0  1.0  0.334004  0.000  0.000000  0.016908      1.0
4            896     1.0  0.0  0.271174  0.125  0.166667  0.023984      1.0
..           ...     ...  ...       ...    ...       ...       ...      ...
413         1305     1.0  1.0       NaN  0.000  0.000000  0.015713      1.0
414         1306     0.0  0.0  0.484795  0.000  0.000000  0.212559      0.0
415         1307     1.0  1.0  0.478512  0.000  0.000000  0.014151      1.0
416         1308     1.0  1.0       NaN  0.000  0.000000  0.015713      1.0
417         1309     1.0  1.0       NaN  0.125  0.166667  0.043640      0.0

[418 rows x 8 columns]
train_DataFrame_filled:
     PassengerId  Survived  Pclass  Sex       Age  SibSp     Parch      Fare  \
0            1.0       0.0     1.0  1.0  0.271174  0.125  0.000000  0.014151
1            2.0       1.0     0.0  0.0  0.472229  0.125  0.000000  0.139136
2            3.0       1.0     1.0  0.0  0.321438  0.000  0.000000  0.015469
3            4.0       1.0     0.0  0.0  0.434531  0.125  0.000000  0.103644
4            5.0       0.0     1.0  1.0  0.434531  0.000  0.000000  0.015713
..           ...       ...     ...  ...       ...    ...       ...       ...
886        887.0       0.0     0.5  1.0  0.334004  0.000  0.000000  0.025374
887        888.0       1.0     0.0  0.0  0.233476  0.000  0.000000  0.058556
888        889.0       0.0     1.0  0.0  0.340192  0.125  0.333333  0.045771
889        890.0       1.0     0.0  1.0  0.321438  0.000  0.000000  0.058556
890        891.0       0.0     1.0  1.0  0.396833  0.000  0.000000  0.015127

     Embarked
0         1.0
1         0.0
2         1.0
3         1.0
4         1.0
..        ...
886       1.0
887       1.0
888       1.0
889       0.0
890       0.5

[891 rows x 9 columns]
test_DataFrame_filled:
     PassengerId  Pclass  Sex       Age  SibSp     Parch      Fare  Embarked
0          892.0     1.0  1.0  0.428248  0.000  0.000000  0.015282       0.5
1          893.0     1.0  0.0  0.585323  0.125  0.000000  0.013663       1.0
2          894.0     0.5  1.0  0.773813  0.000  0.000000  0.018909       0.5
3          895.0     1.0  1.0  0.334004  0.000  0.000000  0.016908       1.0
4          896.0     1.0  0.0  0.271174  0.125  0.166667  0.023984       1.0
..           ...     ...  ...       ...    ...       ...       ...       ...
413       1305.0     1.0  1.0  0.390799  0.000  0.000000  0.015713       1.0
414       1306.0     0.0  0.0  0.484795  0.000  0.000000  0.212559       0.0
415       1307.0     1.0  1.0  0.478512  0.000  0.000000  0.014151       1.0
416       1308.0     1.0  1.0  0.429184  0.000  0.000000  0.015713       1.0
417       1309.0     1.0  1.0  0.411909  0.125  0.166667  0.043640       0.0

[418 rows x 8 columns]

/var/folders/f7/bxkzrv1163j5s267jpydb0_m0000gn/T/ipykernel_28508/61344741.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[i, name] = (data[name][i] - self.min[name]) / (self.max[name] - self.min[name])
/var/folders/f7/bxkzrv1163j5s267jpydb0_m0000gn/T/ipykernel_28508/61344741.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.125' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[i, name] = (data[name][i] - self.min[name]) / (self.max[name] - self.min[name])
/var/folders/f7/bxkzrv1163j5s267jpydb0_m0000gn/T/ipykernel_28508/61344741.py:34: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '0.16666666666666666' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[i, name] = (data[name][i] - self.min[name]) / (self.max[name] - self.min[name])